.divider::before {
  letter-spacing: 0.6em;
  content: '...';
}
.copy-button {
  position: absolute;
  right: 5px;
  top: 20px;
  padding: 8px 12px 7px;
  transition: background 0.3s ease 0s;
}

li::before {
  content: '';
  position: absolute;
  left: -30px;
  top: 8px;
  height: 8px;
  width: 8px;
  background: var(--textColor);
}

.w-post {
  max-width: 550px;
}

.w-notebook {
  max-width: 1000;
}

.clip-circle-sm {
  width: 100px;
  margin: 0 -20px;
  clip-path: circle(25px at center);
}

.clip-circle-lg {
  width: 500px;
  margin: 0 -100px;
  clip-path: circle(150px at center);
}

.clip-circle-md {
  width: 250px;
  margin: 0 -50px;
  clip-path: circle(75px at center);
}

.clip-circle {
  width: 250px;
  margin: 0 -50px;
  clip-path: circle(75px at center);
}

@screen lg {
  /* ... */
  .clip-circle {
    width: 500px;
    clip-path: circle(150px at center);
  }
}

.text-truncate {
  @apply truncate;
  -webkit-line-clamp: 3;
  overflow-wrap: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
}
