/**
 * Default - Light Mode
 */

@screen light {
  :root {
    /* --color: #000;
    --background-color: rgb(5, 5, 5); */
    --textColor: #000;
    --primary: #421696;
    --textDark: #575860;
    --darkBlack: #f2f5f8;
  }
  .mobile-nav-bg {
    @apply bg-white;
  }
  .medium-zoom-overlay {
    background: white !important;
  }
}

/**
 * Dark Mode
 */

@screen dark {
  :root {
    /* --color: rgb(250, 250, 250);
    --background-color: rgb(5, 5, 5); */
    --textColor: #fff;
    /* --primary: #a677ff; */
    --primary: #5dd7c0;
    /* --gray1: #797a85; */
    --gray1: #b9b9ca;
    /* --gray2: #474953; */
    --gray2: #b9b9ca;
    /* --darkBlack: #0c1015; */
    --darkBlack: #09090c;
  }
  .mobile-nav-bg {
    @apply bg-black;
  }
  .medium-zoom-overlay {
    background: black !important;
  }
  body {
    @apply bg-black text-white;
  }
}
