/**
 * Default - Light Mode
 */

@screen light {
  :root {
    /* --color: #000;
    --background-color: rgb(5, 5, 5); */
    --textColor: #000;
    --primary: #009f35;
    --gray1: #3d3d3d;
    --gray2: #858585;
    --darkBlack: #f5f5f5;
  }
  .mobile-nav-bg {
    @apply bg-white;
  }
  .medium-zoom-overlay {
    background: white !important;
  }
}

/**
 * Dark Mode
 */

@screen dark {
  :root {
    /* --primary: #89fc00; grün */
    /* --primary: #f5b700; orange */
    /* --primary: #04e762; grün 2 */
    /* --primary: #fffd77; gelb */
    --textColor: #fff;
    --primary: #05e850;
    /* --primary: #5dd7c0; */
    --gray1: #c2c2c2;
    --gray2: #707070;
    /* --gray2: #858585; */
    --darkBlack: #1c1c1c;
  }
  .mobile-nav-bg {
    @apply bg-black;
  }
  .medium-zoom-overlay {
    background: black !important;
  }
  body {
    @apply bg-black text-white;
  }
}
